<div class="container-fluid p-5 bg-light text-center my-3">
    <h1>Covid 19 India Tracker</h1>
    <h5 class="text-muted">
        Covid 19 Cases Information
    </h5>
</div>
<div class="cantainer-fluid my-5">
    <div class="row text-center">
        <div class="col-3 text-warning">
            <h5>Confirmed</h5>
            <p id="confirmed"></p>
        </div>
        <div class="col-3 text-info">
            <h5>Active</h5>
            <p id="active"></p>
        </div>
        <div class="col-3 text-success">
            <h5>Recovered</h5>
            <p id="recovered"></p>
        </div>
        <div class="col-3 text-danger">
            <h5>Deaths</h5>
            <p id="deaths"></p>
        </div>
    </div>
    <canvas id="myChart"></canvas>
</div>