<div class="about-section">
    <h1>About Us</h1>
    <p>covid -19 Team</p>

</div>

<h2 style="text-align:center; margin-top: 2vh;">Our Team</h2>
<div class="row d-flex align-items-center justify-content-center">
    <div class="column">
        <div class="card">

            <div class="container">
                <h2>Miss Bhagyashree</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Bhagyashree@gmail.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">

            <div class="container">
                <h2>Mr. Aviral Sahu</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>aviral@gmail.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>


</div>