<div class="container-fluid">
    <div class="row bg-info d-flex flex-column
    justify-content-center align-items-center" style="height: 100vh;">
        <div class="row d-flex flex-column pt-2">
            <div class="alert alert-danger" role="alert" *ngIf="uiInvalid">
                Passwords are not match
            </div>
            <div class="row d-flex justify-content-center">
                <h3>Reset Password</h3>
            </div>
            <div class="row d-flex flex-column " style="margin-bottom:2vh;">
                <div class=" col input-group mt-2 pt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control rounded-right" formControlName="username"
                        placeholder="Enter username" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="password" class="form-control" placeholder="Enter New Password"
                        formControlName="password1" required>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="password" class="form-control" placeholder="Enter Password Again"
                        formControlName="password2" required>
                </div>
                <div class=" col input-group mt-2 pt-2 d-flex justify-content-center">
                    <button (click)="submit()" class="btn btn-dark " style="width: 50%;">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>