<div class="container-fluid">
    <div class="row  d-flex flex-column
    justify-content-center align-items-center" style="height: 100vh; background: radial-gradient(white,skyblue);">

        <div class="row d-flex flex-column pt-2">
            <div class="alert alert-danger" role="alert" *ngIf="uiInvalid">
                Please check password .....
            </div>
            <div class="row d-flex justify-content-center">
                <h3>Register Here</h3>
            </div>
            <div class="row d-flex flex-column " style="margin-bottom:2vh;" [formGroup]="fbFormGroup">
                <div class=" col input-group mt-2 pt-2">
                    <input type="text" class="form-control" formControlName="username" placeholder="Enter username"
                        formControlName="username" required>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter email id"
                        formControlName="email" required>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="text" class="form-control" formControlName="mobile" placeholder="Enter mobile no."
                        formControlName="mobile" required>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password"
                        formControlName="new_password" required>
                </div>
                <div class=" col input-group mt-2 pt-2">
                    <input type="password" class="form-control" formControlName="password"
                        placeholder="confirm Password" formControlName="con_password" required>
                </div>

                <div class=" col input-group mt-2 pt-2 justify-content-center">
                    <button (click)="submit()" class="btn btn-outline-dark">Submit</button>
                </div>
            </div>

        </div>


    </div>
</div>